
<div class="frm">
        <div class="inner-form">
                <form>
                        <div class="input">
                            <label> user name</label>
                            <input id="username" type="text" class=""  required>
                        </div>
                        <div class="">
                            <label> password</label>
                            <input id="password" type="password" class=""  required>
                        </div>
                        <div class="">
                            <button class="login-btn" type="submit" name="action">login </button>
                        </div>
                </form>
        </div>
    </div>