

<div class="frm">
    <div class="inner-form">
            <form>
                <div class="input">
                    <label> First Name</label>
                    <input id="username" type="text" class=""  required>
                </div>
                <div class="">
                    <label> Last Name</label>
                    <input id="lastname" type="text" class=""  required>
                </div>
                <div class="">
                    <label> Country</label>
                    <input id="country" type="text" class=""  required>
                </div>
                
                <div class="">
                    <button class="login-btn" type="submit" name="action">Register </button>
                </div>
            </form>
    </div>
</div>