<div class="container login">
    <div class="row">
        <form class="col-xs-12" id="reg-form">
            <div class="row">
            <div class="input-field col-xs-12">
                <input id="first_name" type="text" class="validate" required>
                <label for="first_name">user name</label>
            </div>
            </div>
    
            <div class="row">
            <div class="input-field col-xs-12">
                <input id="password" type="password" class="validate" minlength="6" required>
                <label for="password">Password</label>
            </div>
            </div>

            <div class="row">
            <div class="input-field col-xs-12">
                <button class="btn btn-primary-red " type="submit" name="action">login
                </button>
            </div>
            </div>

        </form>
        </div>
</div>
        